* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

@font-face {
    font-family: "DS-DIGII.TTF";
    src: url(fonts/DS-DIGII.TTF),
         url(fonts/ds-digii-webfont.woff),
         url(fonts/ds-digii-webfont.woff2)
}

@font-face {
    font-family: "ledboard.tff";
    src: url(fonts/ledboard.ttf);
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    background-image:url(backgrounds/background1.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100vh;
}

.wrapper {
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(247, 241, 241);
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 1);
    overflow: hidden;
    border-radius: 20px;
    background-image: url(backgrounds/background5.jpg); 
    border: 1px solid black;
}

.player-0-panel,
.player-1-panel {
    width: 50%;
    float: left;
    height: 650px;
    padding: 100px;
    position: relative;
}

/**********************************************
*** PLAYERS
**********************************************/

.player-name {
    font-family: "ledboard.tff";
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
    color: #d4b6b6;
}

.player-score {
    text-align: center;
    font-family: "DS-DIGII.TTF";
    font-size: 110px;
    font-weight: 100;
    color : #d4b6b6;
    margin-bottom: 55px;
    margin-top: 45px;
    z-index: 1;
}

.totalscore {
    position: absolute;
    z-index: -1;
    color: rgb(161, 138, 138);
    font-size: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;
    top: 240px;
    left: 170px;
    opacity: .3;
}


/* -------- ACTIVE CLASS --------*/

.active .player-score { 
    color : red;
    text-shadow: 0px 0px 4px rgb(255, 64, 64);
}
.active .player-name { 
    font-family: "ledboard.tff";
    font-size: 1.5rem;
    color: red;
    text-shadow: 0px 0px 4px rgb(255, 64, 64);
}

.active .player-name::after {
    content: "\272E";
    font-size: 27px;
    position: absolute;
    color: #EB4D4D;
    top: -4px;
    right: 30px;
}

/* ---------------------------- */


.player-current-box {
    background-color: rgb(49, 5, 5);
    color: #fff;
    width: 60%;
    margin: 0 auto;
    padding-bottom: 12px;
    text-align: center;
    box-shadow: 0px 2px 2px rgb(117, 117, 117);
    border: 2px solid rgb(148, 148, 148);
}

.player-current-label {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 12px;
    padding: 5px;
    color: rgb(255, 255, 255);
    font-family: Lato;
    background-color: black;
    width: 100%;
    border-bottom: 1px solid red;
}

.player-current-score {
    font-family: "DS-DIGII.TTF";
    font-size: 30px;
    color: red;
    text-shadow: 0px 4px 8px red;
}

button {
    position: absolute;
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
    color: #555;
    background: none;
    border: none;
    font-family: Lato;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    transition: background-color 0.3s, color 0.3s;
}

button:hover { font-weight: 600; }
button:hover i { margin-right: 20px; }

button:focus {
    outline: none;
}

i {
    color:red;
    display: inline-block;
    margin-right: 15px;
    font-size: 32px;
    line-height: 1;
    vertical-align: text-top;
    margin-top: -4px;
    transition: margin 0.3s;
}

.btn-new { 
    top: 50px;  color: rgb(184, 0, 0);
}
.btn-roll { 
    top: 367px;  color: rgb(184, 0, 0);
}
.btn-hold { 
    top: 422px;  color: rgb(184, 0, 0);
}
.btn-rules { 
    top: 600px;
    font-size: .7rem;
    font-weight: 700;
    text-decoration: underline;
    color: rgb(184, 0, 0);
}

.btn-rules::before {
    content: "\27B8";
    font-size: 1.2rem;
    position: absolute;
    top: -7px;
    right: 160px;
    color: rgb(184, 0, 0);
}

.box {
    width: 100px;
    box-shadow: 0px 1px 4px rgba(43, 28, 15, 0.5);
    position: absolute;
    top: 490px;
    width: 100px;
    height: 60px;
    left:50%;
    transform: translateX(-50%);
}

.setLimit {
    background-color:red;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100px;
    height: 20px;
    color: white;
    font-family: Lato;
    font-weight: bold;
    font-size: .8rem;
    border: 1px solid red;
}

input[type=text]  {
    position: relative;
    width: 100px;
    height: 42px;
    margin-bottom: 20px;
    outline: none;
    border: 1px solid red;
    text-align: center;
    font-size: 1.4rem;
    color: red;
}

::placeholder {
    color:red;
    font-size: 1rem;
    line-height: 2rem;
    text-align: center;
}

.overlay {
    display: none;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(63, 63, 63, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    line-height: 2;
}

.gameRules {
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border: 1px solid white;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1.2rem;
    text-shadow: 0px 1px 1px black;
    line-height: 1.4;
}

.noLimit {
    display: none;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(88, 35, 35, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 5;
    color: white;
}

.gameRules2 {
    width: 85%;
    height: 61%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border: 1px solid white;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1.2rem;
    text-shadow: 0px 1px 1px black;
}

.invalid {
    display: none;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(88, 35, 35, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 5;
    color: white;
}

.msg2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* red white boxes */
.box2 {
    margin: 40px auto;
    box-shadow: 0px 1px 4px rgba(43, 28, 15, 0.5);
    width: 60%;
    height: auto;
    background-color: white;
    border: 1px solid red;
}

.total {
    background-color:red;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    color: white;
    font-size: .8rem;
}

.totalWins-0,
.totalWins-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-size: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 8px;
    width: 65%;
    height: 40px;
    padding-bottom: 6px;
    border-right: 1px solid red;
}

.reset {
    width: 35%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.reset0 {
    width: 65%;
    text-align: center;
}

.reset1 {
    width: 35%;
    text-align: center;
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.bottom {
    margin-bottom: 10px;
}

.close {
    position: absolute;
    z-index: 999;
    top: 138px;
    right: 90px;
    color :#fff;
    cursor: pointer;
}

.alignleft {
    text-align: left;
    width: 79%;
}

.dice {
    position: absolute;
    left: 54%;
    top: 220px;
    transform: translateX(-50%) rotate(20deg);
    height: 50px;
    filter: drop-shadow(20px);
    -webkit-filter: drop-shadow(3px 3px 2px rgb(161, 157, 154));
    filter: drop-shadow(3px 3px 3px rgb(161, 157, 154));
}

.dice2 {
    position: absolute;
    left: 48%;
    top: 250px;
    transform: translateX(-45%) rotate(-20deg);
    height: 50px;
    -webkit-filter: drop-shadow(3px 3px 2px rgb(161, 157, 154));
    filter: drop-shadow(3px 3px 3px rgb(161, 157, 154));
}

.happy {
    visibility: hidden;
    position: absolute;
    left: 50%;
    top: 90px;
    transform: translateX(-50%);
    height: 100px;
}

.rotate {
    transform: translateX(-10%);
}

::placeholder {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
}

.one {
    position: absolute;
    left: 50%;
    top: 235px;
    transform: translateX(-50%); 
    color: #EB4D4D;
    font-size: 1.4rem;
    font-family: Lato;
    font-weight: bold;
}

.winner .player-name { 
   color: red; 
   text-shadow: 0px 0px 4px rgb(255, 64, 64);
}

.winner .player-score {
    color: red;
    text-shadow: 0px 0px 4px rgb(255, 64, 64);
}

.blink {
    -webkit-animation: blink 1s infinite;
	-moz-animation: blink 1s infinite;
	-ms-animation: blink 1s infinite;
	-o-animation: blink 1s infinite;   
    animation:blink 1s linear infinite;
}

@keyframes blink {
    0%{   color:red;}
    49%{   color:red;}
    60%{   color: transparent;}
    99%{   color:transparent;}
    100%{  color:red;}

    from {text-shadow: 0px 0px 4px rgb(255, 64, 64);}
    to {text-shadow : none;}
}